@use "../abstracts/variables" as *;
@use "../components/btns" as *;

.container {
  max-width: 80%;
  margin: auto;
  padding: 20px;
}

h2 {
  text-align: center;
  font-size: 2rem;
  font-weight: bold;
  margin: 15px 0;
  color: $primary-color;
  text-transform: capitalize;
}

.campaign-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
}

.campaign-card {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  background: $light-color;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
  width: 100%;
}

@media (min-width: 768px) {
  .campaign-card {
    width: 48%;
  }
}

@media (min-width: 992px) {
  .campaign-card {
    width: 30%;
  }
}

.btn {
  display: block;
  width: 100%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
}

.btn-update {
  background: $primary-color;
  color: $light-color;
  &:hover {
    background: $secondary-color;
  }
}

.btn-delete {
  background: $text-error;
  color: $light-color;
  &:hover {
    background: $text-error;
  }
}

.campaign-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 8px;
  margin-bottom: 15px;
}

.campaign-title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 8px;
  color: $active-color;
}

.campaign-description {
  font-size: 14px;
  color: $active-color;
  margin-bottom: 12px;
}

.campaign-info {
  font-size: 14px;
  line-height: 1.6;
  text-align: left;
  color: $active-color;
  padding: 10px;
  border-radius: 8px;
  margin-bottom: 12px;

  p {
    margin: 5px 0;
  }
}

.rewards {
  margin-top: 10px;
}

.reward {
  display: flex;
  justify-content: space-between;
  color: $dark-color;
  padding: 8px 10px;
  border-radius: 6px;
  margin-bottom: 6px;
  font-size: 14px;
}

.status-approved {
  color: $text-success;
  font-weight: bold;
}

.status-pending {
  color: $primary-color;
  font-weight: bold;
}

.popupUpdate {
  position: fixed;
  inset: 0;
  background: $overlay-color;
  display: flex;
  align-items: center;
  justify-content: center;

  .popupUpdate-content {
    background: $light-color;
    padding: 20px;
    border-radius: 10px;
    width: 50%;

    h3 {
      color: $primary-color;
      font-size: 25px;
      margin-bottom: 15px;
      text-align: center;
    }

    label,
    .reward-edit {
      display: block;
      margin-bottom: 10px;

      input,
      textarea {
        width: 100%;
        margin-top: 5px;
        padding: 5px;
        border: 1px solid $light-gray;
        border-radius: 5px;
      }
    }

    #imagePreview {
      display: block;
      margin-top: 10px;
      border-radius: 6px;
      max-width: 100%;
      height: auto;
    }

    .popupUpdate-buttons {
      display: flex;
      justify-content: space-between;

      button {
        padding: 8px 15px;
        border: none;
        border-radius: 5px;
        cursor: pointer;

        &:first-child {
          background: $primary-color;
          color: $light-color;
        }
        &:last-child {
          background: $gray-color;
          color: $light-color;
        }
      }
    }
  }
}
