$primary-color: #cda205;
$secondary-color: #e8de1e;
$gray-color: #6c757d;
$gr-color: #4c5158;
$te-color: #b0b9c6;
$light-gray: #eeeeee;
$dark-color: #1d2127;
$light-color: white;
$main-font: cairo;
$overlay-color: rgba(0, 0, 0, 0.4);
$third-color: #f7ca7c;
$light-bg: #f5faff;
$text-color: #333;
$active-color: rgb(13, 47, 28);
$text-error: red;
$text-errorligh:rgb(168, 19, 19);
$text-success: green;
